.form-container {
    width: 400px;
    margin: auto;
    padding: 36px 48px 48px 48px;
    background-color: #f2efee;

    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.login-title {
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}


.login-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
}

.login-form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
}

.btn--form {
    background-color: orange;
    color: #fdf2e9;
    align-self: end;
    padding: 8px;
}

.btn--form,
.btn--form:link,
.btn--form:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;

    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
}

.btn--form {
    outline: 1px solid orange;
}

.btn--form:hover {
    background-color: #fdf2e9;
    color: orange;
}

.form1-container {
    width: 400px;
    margin: auto;
    padding: 36px 48px 48px 48px;
    background-color: #f2efee;

    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.SignUp-title {
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.SignUp-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.SignUp-form label {
    display: block;
    margin-bottom: 8px;
}

.SignUp-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
}

.SignUp-form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
}

.btn--form {
    background-color: rgb(111, 0, 255);
    color: #fdf2e9;
    align-self: end;
    padding: 8px;
}

.btn--form,
.btn--form:link,
.btn--form:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;

    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
}

.btn--form {
    outline: 1px solid orange;
}

.btn--form:hover {
    background-color: #fdf2e9;
    color: orange;
}

.radio-container {
    display: inline-block;
    margin-right: 10px;
}